.button{
	display: inline-block;
    outline: none;
    cursor: pointer;
    &-search{
        right: 0;
        top: 0;
        border: none;
        -webkit-background-size: cover;
        background-size: cover;
        background: transparent;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 0;

        i{
            font-size: 12px;
            color: #85939f;
        }
}
}
