.text{
	font-size: 18px;
	font-weight: $font-weight-slim;
	line-height: 30px;
	padding-top: 90px;
	width: 740px;
	margin: 0 auto;
	&-gray{
		color: #3b4954;
	}
	&-white{
		color: #fff;
	}
	&-works{
		color: #02baab;
		font-size: 11px;
		line-height: 1.8;
	}
	&-amber{
		p{
			color: #ffffff;
			font-size: 24px;
			line-height: 1.5;
		}		
	}
	&-center{
		margin-top: 30px;
	}
}