.title{
	position: relative;
	font-size: 36px;
	font-weight: 300;
	line-height: 20px;
	&:after{
    content: "";
    width: 50px;
    height: 5px;
	background-color: #eee;
    position: absolute;
    left: 50%;
    bottom: -45px;
    margin-left: -25px;
	}
	&-gray{
		color: #3b4954;
	}
}