.title{
	position: relative;
	font-size: 36px;
	font-weight: $font-weight-slim;
	line-height: 20px;
	&:after{
    content: "";
    width: 50px;
    height: 5px;
	background-color: #eee;
    position: absolute;
    left: 50%;
    bottom: -45px;
    margin-left: -25px;
	}
	&-gray{
		color: #3b4954;
	}
	&-white{
		color: #fff;
	}
	&-works{
		color: #ffffff;
		font-size: 18px;
		line-height: 1.7;
	    position: relative;
	}
	&-inner{
		&-gray{
			color: #000000;
			font-size: 24px;
			font-weight: 300;
			line-height: 1.25;
		}
	}
}