.header{
	position: relative;
	&-carousel{
		position: relative;
		&-indicators{
			li{
				margin-bottom: 50px;
			}
		}
	}
	&-inner{
		position: absolute;
	    z-index: 1;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	    text-align: center;
	    &-button{
	    	margin-top: 100px;
	    }
	}
	&-title{
		font-size: 60px;
		color: $color-primary;
		font-weight: $font-weight-slim;
		line-height: 1.2;
	}
	&-text{
		color: #fff;
	}
}
.height-vh{
	img{
		min-height: 100vh;
		width: 100%;
		object-fit: cover;
	}
}