.header{
	position: relative;
	&-carousel{
		position: relative;
		&-indicators{
			li{
				margin-bottom: 50px;
			}
		}
	}
	&-inner{
	    &-absolute{
	    	position: absolute;
		    z-index: 1;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%,-50%);
		    text-align: center;
	    }
	    &-static{
	    	padding-top: 220px;
	    	padding-bottom: 50px;
	    }
	    &-button{
	    	margin-top: 100px;
	    }
	}
	&-title{
		font-size: 60px;
		color: $color-primary;
		font-weight: $font-weight-slim;
		line-height: 1.2;
	}
	&-text{
		color: #fff;
	}
	&-background{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.height-vh{
	img{
		min-height: 100vh;
		width: 100%;
		object-fit: cover;
	}
}